<li>
  <label>Group Access</label>
  <%= render :partial=>'shared/selected_or_available_sorter', :locals=>{:parent=>@category,:selected=>@category.groups,:available=>current_user.groups - @category.groups} %>
</li>
