<h2>Your Search Returned <%= pluralize(@assets.size, 'Asset') %></h2>
<%= render :partial => 'asset/list' %>
<h2>Your Search Returned <%= pluralize(@cats.size, 'Category') %></h2>
<%= render :partial => 'category/list' %>
