<% @page_actions = capture do -%>
<div class="pageActionOptions">
  From here you can:
  <dl>
    <dd><%= link_to "#{image_tag('/images/icons/add.png')} Create A New Category", :controller=>'admin', :action=>'edit_category' %></dd>
  </dl>                      
</div>
<% end -%>


<%= render :partial=>'category/list' %>
