<% @page_actions = capture do -%>
<div class="pageActionOptions">
	From here you can:
	<dl>
		<dd><%= link_to "#{image_tag('/images/icons/add.png')} Add A New User", :controller=>'account', :action=>'signup' %></dd>
	</dl>											
</div>
<% end %>

<%= render :partial=>'account/list' %>