/*
	TODO: It is better to specify the skins as classes here instead of in the Grail.js file
*/

#grail{
	
}
#grail_icon{

}
#grail_background{
	
}
#grail_message{
	color              : #fff;
	padding            : 0;
	padding-left       : 20px;
	padding-top        : 10px;
	text-align         : left;
    font-style         : normal;
    font-variant       : normal;
    font-weight        : normal;
    font-size          : 1.9em;
    line-height        : normal;
    font-size-adjust   : none;
    font-stretch       : normal;
}
.music_video_container{
	position           :absolute;
	border             :1px solid #000;
}
.music_video_icon{
	display            : block;
	border             : 1px solid #cfcfcf;
	background-color   : #fff;
	margin             : 10px;
	padding            : 15px;
	width              : 50px;
	height             : 50px;
	top                : 0px;
	left               : 0px;
	position           : absolute;
	z-index            : 2;
}
.music_video_background{
	background-color   : #333;
	opacity            : 0.8;
}
.music_video_message{
	
}
