*{
		margin           : 0;
		padding          : 0;
	}

body{
		font             : 0.8125em Verdana, sans-serif;
		color            : #333;
		background       : #FFF;
	}
/*fixed using the holly hack */
/*Child Combinator Override Method*/
#applicationHeader {height: 1%;}
#parentElement>#applicationHeader {height: auto;}

/*Mac-modified Tan Hack Method*/
* html #applicationHeader {height: 1%;} /* for IE/Win */
*>html #applicationHeader {height: auto;} /* for IE5/Mac */

 
a{
		text-decoration  : underline;
}
	
a img{
		border           : none;
}
	
a:link, a:visited{
		color		     : #555; 
		/* border-bottom    : 1px solid #555; */
}

.subscribe a{
	color:#fff;
	background-color:#FF9900;
	padding:3px;
	font-size: 0.8em;
	text-decoration:none
}	

body{
	background-color : #333257;
}

#applicationWrapper{
	width            : 900px;
	margin           : auto;
	background-color : #ffffff;
	margin-bottom	 : 10px;
}

#topNav{
	display           : block;
	width             : 100%;
	height            : 40px;
	color             : #FFF;
	margin            : auto;
	background-color  : #000;
	text-align        : right;
	background-image  : url(/images/nav_background.jpg);
	background-repeat : repeat-x;
	margin-bottom     : 10px;
}

#topNav h1{
	font-size         : 2em;
	font-weight       : bold;
	display           : inline;
	float             : left;
	padding-left      : 10px;
	text-align        : left;
	font-style        : normal;
	font-variant      : normal;
	font-weight       : normal;
	line-height       : normal;
	font-size-adjust  : none;
	font-stretch      : normal;
}

#topNav ul{
	display           : inline;
	height            : 2em;
	position          : relative;
	top               : 10px;
}
	
#topNav ul li a:link, #topNav ul li a:visited{
	color             : #efefef;
	font-size         : 1.1em;
	width             : 100%;
	height            : 40px;
}
	
#topNav li{
	border-left       : 1px solid #333;
	height            : 20px;
	margin            : 0;
	padding           : 0;
	top               : 5px;
	padding           : 10px;
	display           : inline;
}
	
#applicationHeader{
	/*background-image  : url(/images/header-background.gif);*/
	background-repeat : repeat-x;
	padding           : 0 0 0 10px;
	margin            : 0;
	background-color  : #333257;
}
	
#applicationHeader h1{
	color             : #FFFFFF;
	font-size         : 2em;
	font-weight       : lighter;
	margin            : 0 0 10px 0;
}

.searchField, .searchSubmit{
	padding           : 2px;
	color             : #ffffff;
	background-color  : #5A5878;
	border            : solid 1px #2C2951;
}

.searchField{
	color             :#333;
	background-color  :#ffffff;
}

#breadcrumb{
	margin            : 10px 10px 10px 0;     
	background-color  : #E8F8D8;
	border            : 1px solid #000000;
	padding           : 5px;
	color             : #000000;
	font-size         : .7em;
}

#breadcrumb a{
	text-decoration   : none;
	border-bottom     : 1px solid #000; 
}	

#breadcrumb ul a:link, #breadcrumb ul a:visited{
	color             : #000;
}

#breadcrumb ul a:hover {
	color             : #000;
	background-color  : #B3DA8B;
}

#breadcrumb li{
	display           : inline;
}
	
#breadcrumb ul li:before{
	content           : " \00BB \0020 ";
}
	
#breadcrumb ul li.first:before{
	content           : " ";
}
	
#pageHeader{
	background-color  : #333257;
	line-height       : normal;
	border            : 1px solid transparent;
}

#pageHeader ul{
	margin            : 0;
	list-style        : none;
	padding           : 0;
}

#pageHeader li{
	
	background        : url("/images/tab-left.gif") no-repeat left top;
	float             : left;
	font-size         : 1.2em;
	padding           : 0 0 0px 9px;
	margin            : 0 10px 0 0;
}
	
#pageHeader li.selected{
	background        : url("/images/tab-left-selected.gif") no-repeat left top;
	border: none;
}
#sideMenuNav li, #sideMenuCollapsed li{
	padding: 1px 5px 1px 5px;
	display: inline;
	border-left       : 1px solid #333;
}
#sideMenuNav, #sideMenuCollapsed{
	color             : #000;
	padding           : 3px 0 10px 0;
	margin-bottom     : 10px;
	background-image  : url(/images/nav_background.jpg);
	background-repeat : repeat-x;
	color: #fff;
}
#sideMenuNav a, #sideMenuCollapsed a{
	color: #fff;
}
#menu_content{
	padding-left: 10px;
}


li.selected{
	background-color: #eeeeff;
	padding: 2px;
	display: inline;
}
#pageHeader a{
	float             : left;
	display           : block;
	background        : url("/images/tab-right.gif") no-repeat right top;
	padding           : 5px 15px 4px 6px;
	text-decoration   : none;
	color             : #333257
}	

#pageHeader li.selected a{
	 background       : url("/images/tab-right-selected.gif") no-repeat right top;
}	
  
#pageHeader ul a:link, #pageHeader ul a:visited{
	color             : #000;
}
	
#pageHeader ul a:hover {
	color            : #000;
	background-color : transparent;
	text-decoration  : underline;
}

#pageContent{
	display          : block;
	clear            : both;
	padding          : 0 10px 10px 0;
	background-color : #FFF;
	text-align       : left;
	font-style       : normal;
	font-variant     : normal;
	font-weight      : normal;
	line-height      : normal;
	font-size-adjust : none;
	font-stretch     : normal;
}
#pageContent h1{
	text-align         : left;
	font-style         : normal;
	font-variant       : normal;
	font-weight        : normal;
	line-height        : normal;
	font-size-adjust   : none;
	font-stretch       : normal;
	margin-bottom      : 0.5em;
	padding-bottom     : 0.5em;
	color              : #333;
	font-size          : 1.9em;
	border-bottom      : 1px solid #efefef;
}
#pageContent dl.listings{
	border            : 1px solid #efefef;
	padding           : 0 20px 20px 20px;
	margin-bottom     : 10px;
	width             : 500px;
}
#pageContent dl.listings dd{
	padding-left      : 10px;

}
#pageContent dl.listings dt{
	font-size         : 1.2em;
	margin-bottom     : 5px;
	margin-top        : 20px;
}
.pageActionOptions, .pageInstructions, .throbber_message{
	clear             : both;
	display           : block;
	border            : 1px solid #D5D6B2;
	padding           : 5px;
	margin-bottom     : 5px;
	background-color  : #F7F8D8;
}
.throbber_message{
	background-color: #fff;
	border:1px solid #efefef;
	border-right:2px solid #cfcfcf;
	border-bottom:2px solid #cfcfcf;
	margin: auto;
	width: 500px;
	position:fixed;
	left:30%;
	top:30%;
	padding:10px;
	z-index:3;
	font-size:2.0em;
}
.pageInstructions{
	background-color  : #F0F0E5;
}
.extraInfo{
	background-color  : #F0F0E5;
	padding-left      : 20px ;
	background        : url("/images/icons/star.png") no-repeat left top;
}

.pageViewOptions{
	padding           : 5px 0 5px 0;
	text-align        : right;
	float             : right;
	width             : 100%;
	font-size         : 93%;
	line-height       : normal;
	border-bottom     : 1px solid #BCBCCB;
	margin            : 0 0 10px 0;
	display           : block;
	clear             : both;
}
.pageViewOptions dl{
	margin            : 0 0 10px 0;
}
.pageViewOptions dd, .pageViewOptions dt, .pageActionOptions dd, .pageActionOptions dt{
	display           : inline;
	padding           : 0 5px 0 5px;
}

#applicationFooter{
	display           : block;
	background-color  : #ffffff;
	border-top        : 1px solid #BCBCCB;
	padding           : 10px 5px 10px 5px;
	font-size         : .8em;
	text-align        : right;
}

#applicationFooter li{
	text-align        : right;
	list-style        : none;
}

.row{
	display           : block;
	width             : 100%;
	clear             : both;
}
.miceType{
	font-size         : 0.7em;
}