<%= start_form_tag :controller=>'inbox', :action=>'edit_feed', :id=>@feed %>
<%= error_messages_for 'feed' -%>
<ul class="web_form_stacked">
  <%= render :partial=>'feed/form' %>
  <li>
    <label for="submit">Save Changes</label>
    <%= submit_tag "Submit",{:style=>'padding:5px;'}%>
  </li>
</ul>
<%= end_form_tag %>
