<%= render :partial =>'layouts/page_view_options', :locals=>{:view_options=>['thumbnails','details','icons'] }%>
<% content_for('application_header') do -%>
<h1><%= current_user.full_name.titleize unless current_user.respond_to?('full_name') %>'s Inbox</h1>
<% end -%>
Inbox Content (will contain stuff like "your recent files", "messages", "recent changes to things you monitor")