<p style="margin:0;padding:20px;text-align:right;">
<%= Date.today.to_s %>
</p>
<!--
<span style="background-image:url(/images/lb_page.png);float:left; height:30px;background-repeat:no-repeat;width:707px">&nbsp;</span>
<span style="background-image:url(/images/rb_page.png);float:right;height:30px;background-repeat:no-repeat;width:33px;">&nbsp;</span>
-->