<p style="margin:0;padding:20px;text-align:right;">
<span class="mice_type">Build:<%= REVISION_NUMBER %> the <em><%= link_to APP_CODENAME, "http://dictionary.reference.com/browse/#{APP_CODENAME}", {:target=>'_new'} %></em> edition.</span>
</p>