<h1 id="site_name"><%= link_to $application_settings.application_name, '/' %></h1>
<%= 
	 render :partial=>'shared/page/site_menu' unless current_user.nil?
-%>
<%= 
	render :partial=>'shared/page/user_menu' 
-%>
