<div class="adminOptions">
  <h2>Admin Only Options</h2>
  <dl>
    <dt>Group Members</dt>
    <dd>
    <%= render :partial=>'shared/selected_or_available_sorter', :locals=>{:parent=>@group,:selected=>@group.members,:available=>@group.non_members,:name_alias=>:login} %>
    </dd>
    <dt>Categories</dt>
    <dd>*list of categories*</dd>
  </dl>
</div>

