<li>
  <label>Group Members</label>
  <%= render :partial=>'shared/selected_or_available_sorter', :locals=>{:parent=>@group,:selected=>@group.members,:available=>@group.non_members,:name_alias=>:login} %>
</li>
<li>
  <label>Categories</label>
  *list of categories*
</li>


