<li><label for="group_name">Name</label>
<%= text_field 'group', 'name',{:class=>"big_input", :style=>"width:100%;"}%></li>

<li><label for="group_description">Description</label>
<%= text_area 'group', 'description', {:style=>"width:100%;"}  %></li>

<li>
<%= render :partial => 'shared/form_elements/tags', :locals => { :model => :group } %>
</li>
