<%= error_messages_for 'group' %>

<li><label for="group_name">Name</label>
<%= text_field 'group', 'name'  %></li>

<li><label for="group_description">Description</label>
<%= text_area 'group', 'description'  %></li>

<li><label for="group_public">Public</label>
<select id="group_public" name="group[public]"><option value="false">False</option><option value="true">True</option></select></li>
