<h1>New group</h1>

<%= start_form_tag :action => 'create_group' %>
  <%= render :partial => 'group/form' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list' %>
