<% if current_user.can_edit? asset -%>
<%= link_to_remote(image_tag('/images/icons/pencil.png'),
             :url=>{
                 :controller=>'asset',
                 :action=>'edit',
                  :id=>"#{asset.id}",
                  :category_id=>asset.category.id,
                  :item_row=>"asset_#{asset.id}",
                :update=>"new_asset_form"
               }
            ) 
%><% end -%>