<% if false 
#TODO Enable this for admins  
-%>
<li>
  <div class="pageActionOptions">
  <dl>
    <dt>Admin Options</dt>
    <dd>Change Status</dd>
    <dd>Become this User</dd>
    <dd>Reset Password</dd>
  </dl>
  </div>
<li>
<% end -%>