<li>
  <div class="adminOptions">
  <dl>
    <dt>Admin Only Options</dt>
    <% 
    status_options = [] 
    User::STATUS.map{|s|status_options << [s, User::STATUS.index(s)]}
    -%>
    <dd><label>Change Status: </label><%= select :user, :state,  status_options %></dd>
  </dl>
  </div>
<li>
