<% if avatar -%>
<li id="avatar_image">
  <label>Current Profile Image</label>
  <%= image_tag(url_for(:controller=>'account', :action=>'avatar', :id=>avatar.id))%>
</li>
<% end -%>
<li id="avatar_field">
  <% if $APPLICATION_SETTINGS.preferences[:rmagick] -%>
    <label>Profile Image (large images will be cropped to 50x50)</label>
    <%= file_field(:avatar, :uploaded_data) -%>
  <% end -%>
</li>