<% content_for('application_header') do -%>
<h1>Listing Users</h1>
<% end -%>
<%=  @page_actions ||="" %>

<%= render :partial=>'account/details' -%>
<%= link_to 'Previous page', { :page => @user_pages.current.previous } if @user_pages.current.previous %>
<%= link_to 'Next page', { :page => @user_pages.current.next } if @user_pages.current.next %> 
