<h1>Member Directory</h1>

<% for user in @users %>
<dl>
	<dt><label>name: </label><%= link_to user.login, :controller=>'account', :action=>'profile',:id=>user.id %></dt>
	<dd><label>email: </label><%= user.email%></dd>
	<dd></dd>
</dl>
<% end %>

<%= link_to 'Previous page', { :page => @user_pages.current.previous } if @user_pages.current.previous %>
<%= link_to 'Next page', { :page => @user_pages.current.next } if @user_pages.current.next %> 
