<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= APP_NAME %>: <%= @page_title || controller.action_name %></title>
  <%= stylesheet_link_tag 'base','main','file_viewer','admin','grail' %>
  <%= javascript_include_tag :defaults,'tween' %> 
</head>
<body>
  <div id="throbber" style="width:100%;position:absolute;z-index:1;opacity:0.8;display:none;background-color:#fff;border:1px inset #000;color:#000;font-size:110%;">
    <p style="padding:10px;" id="message"><%= image_tag 'ajax-loader.gif' %>&nbsp;&nbsp;Loading...</p>
  </div>
  <div id="topNav">
		<%= render :partial=>'shared/page/header'%>
	</div>
  <div id="applicationHeader">
    <%= display_flash_message %>
    <% if current_user %>
    <%= form_tag :controller => 'search', :action => 'all' %>
  	  <input class="searchField" type="text" name='query' tabindex="1" alt="search box" />
  	  <input class="searchSubmit" type="submit" value="Search" alt="search button" />
    <%= end_form_tag %>
    <div id="breadcrumb">
      <ul>
        <%= yield :bread_crumbs %>
      </ul>
    </div>
    <% end %>
    <%= yield :application_header %>
    <div id="pageHeader">
			<ul>
			  <% if current_user -%>
				<li class="selected"><%= link_to 'Inbox', :controller=>'inbox' %></li>
				<li><%= link_to Profile, :controller=>'account',:action=>'my_profile' %></li>
				<% end -%>
			</ul><%= yield :sub_categories %>
		</div>
  </div>
  	<div id="pageContent">
			<%= yield :page_view_options %>
			<%= yield :layout %>
		</div>
    <div id="applicationFooter">
      <%= yield :page_meta %>
      <%= render :partial=>'shared/page/footer'%>
		</div>    
	
		
	
	<% #used to display a spinner on ajax events. %>
	<div id='spinner' style='display:none; padding: 5px; background-color: white; line-height: 200px; text-align:center; width: 100px; height: 100px'><%= image_tag 'ajax-loader.gif' %></div>
</body>
</html>
