<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= APP_NAME %>: <%= @page_title || controller.action_name %></title>
  <%= render :partial=>'layouts/global_includes' %>
</head>
<body>
  <div id="throbber" style="width:100%;position:absolute;z-index:1;opacity:0.8;display:none;background-color:#fff;border:1px inset #000;color:#000;font-size:110%;">
    <p style="padding:10px;" id="message"><%= image_tag 'ajax-loader.gif' %>&nbsp;&nbsp;Loading...</p>
  </div>
  <div id="topNav">
		<%= render :partial=>'shared/page/header'%>
	</div>
  <div id="applicationHeader">
    <%= display_flash_message %>
    <% if current_user %>
    <%= form_tag :controller => 'search', :action => 'all' %>
  	  <input class="searchField" type="text" name='id' tabindex="1" alt="search box" />
  	  <input class="searchSubmit" type="submit" value="Search" alt="search button" />
    <%= end_form_tag %>
    <div id="breadcrumb">
      <ul>
        <%= yield :bread_crumbs %>
      </ul>
    </div>
    <% end %>
    <%= yield :application_header %>
  	</div>
  	<div id="pageContent">
	<table>
		<tr>
				<% if current_user 
				  display_open_as  = display_close_as = "none"
				  if session[:view][:expand_menu]
				    display_open_as  = "block"
				  else
				    display_close_as = "block"
			    end
				-%>
			
			
			<td id="sideMenu" valign="top" style="border-right:1px solid #cfcfcf;display:<%= display_open_as %>;">
				<div style="width:250px;">
				<a href="#" onclick="View.flip_flop('sideMenu','sideMenuCollapsed');new Ajax.Request('/account/toggle_menu');"><%= image_tag('/images/icons/arrow_left.png', {:style=>"display:block;position:absolute;left:240px;padding:1px;border: 1px solid #ccc;"})%></a>
				<ul id="sideMenuNav">
				  
					<li <%= "class=\"selected\"" if params[:controller] == 'inbox'%>><%= link_to 'Inbox', :controller=>'inbox' %></li>
					<li <%= "class=\"selected\"" if params[:action] == 'my_profile' %>><%= link_to Profile, :controller=>'account',:action=>'my_profile' %></li>
				</ul>
				<%= yield :sub_categories %>
				<% if current_user.is_admin? -%>
					<%= render :partial=>'layouts/admin_side_menu' %>
				<% else -%>
					<%= render :partial=>'layouts/user_side_menu' %>
				<% end -%>
				
				<%= yield :side_menu %>
				<br class="clear_both" />
				</div>
			</td>
			<td id="sideMenuCollapsed"  valign="top" style="border-right:1px solid #cfcfcf;display:<%=display_close_as %>;">
				<div style="width:25px">
			<a href="#" onclick="View.flip_flop('sideMenu','sideMenuCollapsed');new Ajax.Request('/account/toggle_menu');"><%= image_tag('/images/icons/arrow_right.png', {:style=>"display:block;padding:1px;border: 1px solid #ccc;"})%></a>
				</div>
			</td>
			
			<% end -%>
				
			<td id="page" style="border-left:1px solid #efefef;padding-left:10px;">
				<%= yield :page_view_options %>
				<%= yield :layout %>
			</td>
		</tr>
	</table>
    </div>
	<div id="applicationFooter">
      <%= yield :page_meta %>
      <%= render :partial=>'shared/page/footer'%>
		</div>    
	
		
	
	<% #used to display a spinner on ajax events. %>
	<div id='spinner' style='display:none; padding: 5px; background-color: white; line-height: 200px; text-align:center; width: 100px; height: 100px'><%= image_tag 'ajax-loader.gif' %></div>
</body>
</html>
